Range year, compile list indicators, (Income Group,), display Graphics geo
Academy est une start-up EdTech, qui propose des contenus de formation en ligne pour un public de niveau lycée et université.
Je veux identifer les pays avec un fort potentiel et ou Academy devrait s'implanter.

In [1]:
import pandas

pandas.read_csv("./Projet+Python_Dataset_Edstats_csv/EdStatsData.csv", nrows=5)

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
pandas.read_csv("./Projet+Python_Dataset_Edstats_csv/EdStatsCountry.csv", nrows=5)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000.0,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005.0,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006.0,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [3]:
pandas.read_csv("./Projet+Python_Dataset_Edstats_csv/EdStatsSeries.csv", nrows=5)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pandas.read_csv("./Projet+Python_Dataset_Edstats_csv/EdStatsFootNote.csv", nrows=5)

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

In [5]:
pandas.read_csv("./Projet+Python_Dataset_Edstats_csv/EdStatsCountry-Series.csv", nrows=5)

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

In [6]:
import pandas as pd
from pathlib import Path

file_paths = [
    "./Projet+Python_Dataset_Edstats_csv/EdStatsData.csv",
    "./Projet+Python_Dataset_Edstats_csv/EdStatsCountry.csv",
    "./Projet+Python_Dataset_Edstats_csv/EdStatsSeries.csv",
    "./Projet+Python_Dataset_Edstats_csv/EdStatsFootNote.csv",
    "./Projet+Python_Dataset_Edstats_csv/EdStatsCountry-Series.csv"
]

def analyze_dataset(file_path, missing_threshold=0.9):
    print(f"--- Analyzing: {Path(file_path).name} ---")

    df = pd.read_csv(file_path)

    print(f"Shape: {df.shape[0]:,} rows × {df.shape[1]} columns")
    print("Example row:")
    print(df.columns)

    duplicate_count = df.duplicated().sum()
    print(f"{duplicate_count:,} duplicate rows.")
    if duplicate_count > 0:
        df = df.drop_duplicates().copy()

    print("Missing values per column (count and ratio):")
    missing = df.isnull().sum().to_frame("missing_count")
    missing["missing_ratio"] = missing["missing_count"] / len(df)
    print(missing.sort_values("missing_ratio", ascending=False))

    unusable_cols = missing[missing["missing_ratio"] > missing_threshold].index
    if not unusable_cols.empty:
        print(f"Dropping {len(unusable_cols)} unusable column(s) with > {missing_threshold*100:.0f}% missing values:")
        print(list(unusable_cols))
        df = df.drop(columns=unusable_cols)

    numeric_cols = df.select_dtypes(include='number').columns
    if not numeric_cols.empty:
        print("Summary statistics for numerical columns:")
        print(df[numeric_cols].describe())

    categorical_cols = df.select_dtypes(exclude='number').columns
    for col in categorical_cols:
        print(f"\nTop values in '{col}':")
        print(df[col].value_counts(dropna=False).head(3).to_string())

# Run analysis
for file_path in file_paths:
    analyze_dataset(file_path)

--- Analyzing: EdStatsData.csv ---
Shape: 886,930 rows × 70 columns
Example row:
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')
0 duplicate rows.
Missing values per column (count and ratio):
                missing_count  missing_ratio
Unnamed: 69            886930       1.000000
2017                   886787       0.999839
2016                   870470       0.981442
1971                   851393       0.959933
1973                   851385       0.959924
...                       ...            ...
2010                   644488       0.726650
Indicator Name              0       0.000000
Indicator Code              0       0.000000
Country Name                0       0.000000
Country Code                0       0.000000

[70 rows x 2 columns]
Dropping 45 unusable column(s) with > 90% missing values:
['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1981', '1982', '1983', '1984', '1986', '1987', '1988', '1989', '1991', '1992', '1993', '1994', '1996', '1997', '1998', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045', '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090', '2095', '2100', 'Unnamed: 69']
Summary statistics for numerical columns:
               1980          1985          1990          1995          1999  \
count  8.912200e+04  9.029600e+04  1.244050e+05  1.313610e+05  1.188390e+05
mean   3.283898e+09  3.622763e+09  9.084424e+09  1.052543e+10  1.331558e+10
std    1.780774e+11  2.002929e+11  3.665667e+11  4.285218e+11  5.153472e+11
min   -1.404240e+00 -2.216315e+00 -1.803750e+00 -2.697722e+00 -6.526000e+04
25%    1.770000e+00  2.150000e+00  4.830000e+00  5.200000e+00  1.749051e+01
50%    1.107000e+01  1.200000e+01  5.048379e+01  5.018663e+01  1.251000e+03
75%    8.202760e+01  8.338313e+01  9.134300e+04  7.954000e+04  1.867360e+05
max    2.784319e+13  3.166465e+13  4.714344e+13  5.275448e+13  6.040632e+13

               2000          2001          2002          2003          2004  \
count  1.766760e+05  1.235090e+05  1.242050e+05  1.303630e+05  1.288140e+05
mean   9.423384e+09  1.384867e+10  1.428299e+10  1.449393e+10  1.589729e+10
std    4.442374e+11  5.449242e+11  5.622886e+11  5.803607e+11  6.278337e+11
min   -6.759300e+04 -6.973700e+04 -9.214300e+04 -1.111860e+05 -1.262600e+05
25%    5.699035e+00  1.599897e+01  1.584246e+01  1.550983e+01  1.418687e+01
50%    5.078717e+01  8.300000e+02  9.460000e+02  3.956150e+02  3.350000e+02
75%    3.343950e+04  1.746540e+05  1.770990e+05  1.474790e+05  1.584082e+05
max    6.327293e+13  6.477834e+13  6.654753e+13  6.906328e+13  7.278829e+13

       ...          2006          2007          2008          2009  \
count  ...  1.403120e+05  1.372720e+05  1.343870e+05  1.421080e+05
mean   ...  1.684674e+10  1.872300e+10  2.029794e+10  1.894907e+10
std    ...  6.851484e+11  7.465688e+11  7.944132e+11  7.623650e+11
min    ... -3.708940e+05 -3.882170e+05 -4.088540e+05 -4.561240e+05
25%    ...  1.277624e+01  1.268661e+01  1.233467e+01  1.181939e+01
50%    ...  9.981849e+01  1.000000e+02  1.000000e+02  9.925039e+01
75%    ...  1.187198e+05  1.343790e+05  1.453855e+05  1.180412e+05
max    ...  8.031840e+13  8.469145e+13  8.711022e+13  8.677516e+13

               2010          2011          2012          2013          2014  \
count  2.424420e+05  1.460120e+05  1.472640e+05  1.375090e+05  1.137890e+05
mean   1.189592e+10  2.117911e+10  2.176323e+10  2.425332e+10  2.678449e+10
std    6.218710e+11  8.555853e+11  8.833955e+11  9.513016e+11  1.023180e+12
min   -4.969050e+05 -5.709940e+05 -6.049930e+05 -6.157480e+05 -8.900000e+01
25%    1.322703e+00  1.216330e+01  1.100000e+01  1.306113e+01  1.614639e+01
50%    2.046020e+01  9.853510e+01  9.759012e+01  1.000000e+02  1.000000e+02
75%    3.121000e+03  1.065065e+05  1.038168e+05  1.426480e+05  1.636440e+05
max    9.134676e+13  9.506314e+13  9.999473e+13  1.054580e+14  1.108060e+14

               2015
count  1.310580e+05
mean   2.353720e+10
std    9.732465e+11
min   -2.467847e+00
25%    4.100000e-01
50%    5.235000e+01
75%    6.153575e+04
max    1.156198e+14

[8 rows x 21 columns]

Top values in 'Country Name':
Country Name
Arab World                                     3665
East Asia & Pacific                            3665
East Asia & Pacific (excluding high income)    3665

Top values in 'Country Code':
Country Code
ARB    3665
EAS    3665
EAP    3665

Top values in 'Indicator Name':
Indicator Name
Youth literacy rate, population 15-24 years, male (%)                                                                  242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. Post Secondary. Female    242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Total       242

Top values in 'Indicator Code':
Indicator Code
SE.ADT.1524.LT.MA.ZS    242
PRJ.POP.ALL.4.FE        242
PRJ.POP.ALL.NED.MF      242
--- Analyzing: EdStatsCountry.csv ---
Shape: 241 rows × 32 columns
Example row:
Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')
0 duplicate rows.
Missing values per column (count and ratio):
                                                   missing_count  \
Unnamed: 31                                                  241
National accounts reference year                             209
Alternative conversion factor                                194
Other groups                                                 183
Latest industrial data                                       134
Vital registration complete                                  130
External debt Reporting status                               117
Latest household survey                                      100
Latest agricultural census                                    99
Lending category                                              97
PPP survey year                                               96
Special Notes                                                 96
Source of most recent Income and expenditure data             81
Government Accounting concept                                 80
Latest water withdrawal data                                  62
Balance of Payments Manual in use                             60
IMF data dissemination standard                               60
Latest trade data                                             56
SNA price valuation                                           44
System of trade                                               41
National accounts base year                                   36
Latest population census                                      28
Region                                                        27
Income Group                                                  27
Currency Unit                                                 26
System of National Accounts                                   26
2-alpha code                                                   3
WB-2 code                                                      1
Long Name                                                      0
Table Name                                                     0
Short Name                                                     0
Country Code                                                   0

                                                   missing_ratio
Unnamed: 31                                             1.000000
National accounts reference year                        0.867220
Alternative conversion factor                           0.804979
Other groups                                            0.759336
Latest industrial data                                  0.556017
Vital registration complete                             0.539419
External debt Reporting status                          0.485477
Latest household survey                                 0.414938
Latest agricultural census                              0.410788
Lending category                                        0.402490
PPP survey year                                         0.398340
Special Notes                                           0.398340
Source of most recent Income and expenditure data       0.336100
Government Accounting concept                           0.331950
Latest water withdrawal data                            0.257261
Balance of Payments Manual in use                       0.248963
IMF data dissemination standard                         0.248963
Latest trade data                                       0.232365
SNA price valuation                                     0.182573
System of trade                                         0.170124
National accounts base year                             0.149378
Latest population census                                0.116183
Region                                                  0.112033
Income Group                                            0.112033
Currency Unit                                           0.107884
System of National Accounts                             0.107884
2-alpha code                                            0.012448
WB-2 code                                               0.004149
Long Name                                               0.000000
Table Name                                              0.000000
Short Name                                              0.000000
Country Code                                            0.000000
Dropping 1 unusable column(s) with > 90% missing values:
['Unnamed: 31']
Summary statistics for numerical columns:
       National accounts reference year  Latest industrial data  \
count                          32.00000              107.000000
mean                         2001.53125             2008.102804
std                             5.24856                2.616834
min                          1987.00000             2000.000000
25%                          1996.75000             2007.500000
50%                          2002.00000             2009.000000
75%                          2005.00000             2010.000000
max                          2012.00000             2010.000000

       Latest trade data
count         185.000000
mean         2010.994595
std             2.569675
min          1995.000000
25%          2011.000000
50%          2012.000000
75%          2012.000000
max          2012.000000

Top values in 'Country Code':
Country Code
ABW    1
AFG    1
AGO    1

Top values in 'Short Name':
Short Name
Aruba          1
Afghanistan    1
Angola         1

Top values in 'Table Name':
Table Name
Aruba          1
Afghanistan    1
Angola         1

Top values in 'Long Name':
Long Name
Aruba                           1
Islamic State of Afghanistan    1
People's Republic of Angola     1

Top values in '2-alpha code':
2-alpha code
NaN    3
AF     1
AW     1

Top values in 'Currency Unit':
Currency Unit
NaN            26
Euro           23
U.S. dollar    14

Top values in 'Special Notes':
Special Notes
NaN                                                                                                                                                         96
April 2012 database update: Based on official government statistics, national accounts data were revised for 2000 onward; the base year changed to 2006.     6
Fiscal year end: March 31; reporting period for national accounts data: CY.                                                                                  4

Top values in 'Region':
Region
Europe & Central Asia        57
Sub-Saharan Africa           48
Latin America & Caribbean    41

Top values in 'Income Group':
Income Group
Upper middle income     55
Lower middle income     50
High income: nonOECD    44

Top values in 'WB-2 code':
WB-2 code
AW    1
AF    1
AO    1

Top values in 'National accounts base year':
National accounts base year
NaN                                                   36
2005                                                  34
Original chained constant price data are rescaled.    28

Top values in 'SNA price valuation':
SNA price valuation
Value added at basic prices (VAB)       163
NaN                                      44
Value added at producer prices (VAP)     34

Top values in 'Lending category':
Lending category
NaN     97
IBRD    67
IDA     59

Top values in 'Other groups':
Other groups
NaN          183
HIPC          40
Euro area     18

Top values in 'System of National Accounts':
System of National Accounts
Country uses the 1993 System of National Accounts methodology.    165
Country uses the 1968 System of National Accounts methodology.     42
NaN                                                                26

Top values in 'Alternative conversion factor':
Alternative conversion factor
NaN        194
1990–95      8
1987–95      5

Top values in 'PPP survey year':
PPP survey year
2005       98
NaN        96
Rolling    37

Top values in 'Balance of Payments Manual in use':
Balance of Payments Manual in use
IMF Balance of Payments Manual, 6th edition.    181
NaN                                              60

Top values in 'External debt Reporting status':
External debt Reporting status
NaN         117
Actual      107
Estimate     11

Top values in 'System of trade':
System of trade
General trade system    106
Special trade system     94
NaN                      41

Top values in 'Government Accounting concept':
Government Accounting concept
Consolidated central government    95
NaN                                80
Budgetary central government       66

Top values in 'IMF data dissemination standard':
IMF data dissemination standard
General Data Dissemination System (GDDS)      110
Special Data Dissemination Standard (SDDS)     71
NaN                                            60

Top values in 'Latest population census':
Latest population census
2011    59
2010    49
NaN     28

Top values in 'Latest household survey':
Latest household survey
NaN                                               100
Multiple Indicator Cluster Survey (MICS), 2012     10
World Health Survey (WHS), 2003                    10

Top values in 'Source of most recent Income and expenditure data':
Source of most recent Income and expenditure data
NaN                                        81
Integrated household survey (IHS), 2012    15
Integrated household survey (IHS), 2010     9

Top values in 'Vital registration complete':
Vital registration complete
NaN                                                 130
Yes                                                 110
Yes. Vital registration for Guernsey and Jersey.      1

Top values in 'Latest agricultural census':
Latest agricultural census
NaN     99
2010    36
2007    16

Top values in 'Latest water withdrawal data':
Latest water withdrawal data
NaN     62
2000    40
2005    40
--- Analyzing: EdStatsSeries.csv ---
Shape: 3,665 rows × 21 columns
Example row:
Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')
0 duplicate rows.
Missing values per column (count and ratio):
                                     missing_count  missing_ratio
Other web links                               3665       1.000000
Unnamed: 20                                   3665       1.000000
License Type                                  3665       1.000000
Notes from original source                    3665       1.000000
Unit of measure                               3665       1.000000
Related indicators                            3665       1.000000
Development relevance                         3662       0.999181
General comments                              3651       0.996180
Limitations and exceptions                    3651       0.996180
Statistical concept and methodology           3642       0.993724
Aggregation method                            3618       0.987176
Periodicity                                   3566       0.972988
Related source links                          3450       0.941337
Base Period                                   3351       0.914325
Other notes                                   3113       0.849386
Short definition                              1509       0.411733
Series Code                                      0       0.000000
Long definition                                  0       0.000000
Indicator Name                                   0       0.000000
Topic                                            0       0.000000
Source                                           0       0.000000
Dropping 14 unusable column(s) with > 90% missing values:
['Unit of measure', 'Periodicity', 'Base Period', 'Aggregation method', 'Limitations and exceptions', 'Notes from original source', 'General comments', 'Statistical concept and methodology', 'Development relevance', 'Related source links', 'Other web links', 'Related indicators', 'License Type', 'Unnamed: 20']

Top values in 'Series Code':
Series Code
XGDP.56.FSGOV.FDINSTADM.FFD    1
UIS.XUNIT.PPPCONST.3.FSGOV     1
UIS.XUNIT.PPPCONST.23.FSGOV    1

Top values in 'Topic':
Topic
Learning Outcomes     1046
Attainment             733
Education Equality     426

Top values in 'Indicator Name':
Indicator Name
Government expenditure in tertiary institutions as % of GDP (%)       1
Government expenditure per upper secondary student (constant PPP$)    1
Government expenditure per secondary student (constant PPP$)          1

Top values in 'Short definition':
Short definition
NaN                                                                                                                                                                                                                                                                                                                                                                                                      1509

In [7]:
import pandas as pd

country_df = pd.read_csv("./Projet+Python_Dataset_Edstats_csv/EdStatsCountry.csv")

# Step 1: Define critical columns to check for missing data
critical_columns = ["Country Code", "Short Name", "Region", "Income Group"]

# Step 2: Identify rows with missing values in critical columns
missing_mask = country_df[critical_columns].isnull().any(axis=1)

# Step 3: Identify invalid country codes (not 2–3 uppercase letters)
invalid_code_mask = ~country_df["Country Code"].str.contains(r"^[A-Z]{2,3}$", na=False)

# Step 4: Identify suspicious names (e.g., "Aggregate", "World", "Total")
suspicious_name_mask = country_df["Short Name"].str.contains(r"Aggregate|World|Region|Total", case=False, na=False)

# Step 5: Combine all masks to flag fake entries
fake_mask = missing_mask | invalid_code_mask | suspicious_name_mask

# Step 6: Extract fake entries
fake_countries = country_df[fake_mask]
print("Fake countries:")
print(fake_countries[["Country Code", "Short Name"]])

# Step 7: Filter the Country dataframe
cleaned_country_df = country_df[~country_df["Country Code"].isin(fake_countries["Country Code"])]

# Method 8: Inner join with cleaned_country_df
cleaned_series_df = pd.merge(cleaned_country_df, country_df, on="Country Code", how="inner")

Fake countries:
    Country Code                                      Short Name
5            ARB                                      Arab World
57           EAP           East Asia & Pacific (developing only)
58           EAS         East Asia & Pacific (all income levels)
59           ECA         Europe & Central Asia (developing only)
60           ECS       Europe & Central Asia (all income levels)
63           EMU                                       Euro area
68           EUU                                  European Union
78           GIB                                       Gibraltar
89           HIC                                     High income
92           HPC          Heavily indebted poor countries (HIPC)
116          LAC     Latin America & Caribbean (developing only)
122          LCN   Latin America & Caribbean (all income levels)
123          LDC    Least developed countries: UN classification
124          LIC                                      Low income
127          LMC                             Lower middle income
128          LMY                             Low & middle income
140          MEA  Middle East & North Africa (all income levels)
143          MIC                                   Middle income
148          MNA    Middle East & North Africa (developing only)
157          NAC                                   North America
166          NRU                                           Nauru
168          OED                                    OECD members
187          SAS                                      South Asia
198          SSA            Sub-Saharan Africa (developing only)
200          SSF          Sub-Saharan Africa (all income levels)
225          UMC                             Upper middle income
234          WLD                                           World